body {
    height: 100%;
}

.jumbotron {
    display: grid;
    grid-template-columns: repeat(4, 300px [col-start]);
    grid-column-gap: 20px; 
    justify-content: center;
    /* margin-top: 25px; */
    /* for infinite scroll */
    overflow: auto;
}

.card mb-3 {
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.item-image {
    height: 200px; 
    width: 100%;
}

.img-item {
    width: 100%;
}

.form-group {
    display: grid; 
    justify-content: center; 
    grid-template-rows: 25%
}

.toast {
    z-index: 9999999999;
}