.jumbotron {
    display: grid;
    grid-template-columns: repeat(4, 300px [col-start]);
    grid-column-gap: 20px; 
    justify-content: center;
    /* for infinite scroll */
    height: 600px;
    overflow: auto;
}

.card mb-3 {
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.img-item {
    width: 300px;
    justify-self: center;
}